islamic-text-workflow/agent-reservoir-workflow/archive/make-com-integration/archive/20250706_114708_pre_cleanup/production_old/update_scenario_blueprint.json
{
  "blueprint": {
    "flow": [
      {
        "id": 1,
        "module": "http:ActionSendData",
        "version": 3,
        "mapper": {},
        "metadata": {
          "designer": { "x": 0, "y": 0 },
          "interface": []
        },
        "parameters": {
          "method": "GET",
          "url": "https://aayvvcpxafzhcjqewwja.supabase.co/rest/v1/books",
          "headers": [
            {
              "name": "Authorization", 
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFheXZ2Y3B4YWZ6aGNqcWV3d2phIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcxODkxNjIzNywiZXhwIjoyMDM0NDkyMjM3fQ.SaZdRqCzCr3xS8pA0awKwxXKvSuGgC1jjlQ6V8P7K5E"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFheXZ2Y3B4YWZ6aGNqcWV3d2phIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcxODkxNjIzNywiZXhwIjoyMDM0NDkyMjM3fQ.SaZdRqCzCr3xS8pA0awKwxXKvSuGgC1jjlQ6V8P7K5E"
            }
          ],
          "qs": [
            {
              "name": "select",
              "value": "id,title,author_name"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ],
          "parseResponse": true,
          "bodyType": ""
        }
      },
      {
        "id": 2,
        "module": "builtin:BasicRouter",
        "version": 1,
        "mapper": {
          "condition": "{{length(1.data) > 0}}"
        },
        "metadata": {
          "designer": { "x": 300, "y": 0 }
        }
      },
      {
        "id": 3,
        "module": "builtin:ArrayIterator",
        "version": 1,
        "mapper": {
          "array": "{{1.data}}"
        },
        "metadata": {
          "designer": { "x": 600, "y": 0 }
        }
      },
      {
        "id": 4,
        "module": "http:ActionSendData",
        "version": 3,
        "mapper": {
          "body": "{\"book_id\": \"{{3.id}}\", \"title\": \"{{3.title}}\", \"author\": \"{{3.author_name}}\"}"
        },
        "metadata": {
          "designer": { "x": 900, "y": 0 },
          "interface": []
        },
        "parameters": {
          "method": "POST",
          "url": "https://730d-2601-403-4280-2f0-25ca-9d6a-401-ac.ngrok-free.app/claude/hybrid-analysis",
          "headers": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ],
          "bodyType": "raw",
          "parseResponse": true,
          "timeout": "180"
        }
      }
    ],
    "name": "Stage 1: Islamic Text Hybrid Analysis",
    "metadata": {
      "version": 1,
      "scenario": {
        "roundtrips": 1,
        "maxErrors": 3,
        "autoCommit": true,
        "autoCommitTriggerLast": true,
        "sequential": false,
        "confidential": false,
        "dataloss": false,
        "dlq": false,
        "freshVariables": false
      },
      "designer": {
        "orphans": []
      }
    }
  }
}
EOF < /dev/null