agent-reservoir-workflow/archive/make-com-integration/production/final_make_scenario.json
{
  "name": "Optimized Islamic Text Processing - Parallel Storage + Enrichment",
  "description": "Analysis → Parallel: [Store Results + Enrichment Processing] → Update Books",
  "scheduling": {
    "type": "interval", 
    "interval": 5,
    "intervalType": "minutes"
  },
  "flow": [
    {
      "id": 1,
      "module": "supabase:ListRows",
      "version": 1,
      "mapper": {
        "table": "book_processing_queue",
        "select": "book_id,status,priority,created_at",
        "filter": "status=eq.pending",
        "limit": "1",
        "order": "priority,created_at"
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "interface": [],
        "label": "Fetch Queued Books"
      },
      "parameters": {
        "connection": "supabase-imam-lib"
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": {
        "condition": "{{length(1.data) > 0}}"
      },
      "metadata": {
        "designer": { "x": 200, "y": 0 },
        "label": "Check Queue"
      }
    },
    {
      "id": 3,
      "module": "builtin:ArrayIterator",
      "version": 1,
      "mapper": {
        "array": "{{1.data}}"
      },
      "metadata": {
        "designer": { "x": 400, "y": 0 },
        "label": "Iterator"
      }
    },
    {
      "id": 9,
      "module": "supabase:ListRows",
      "version": 1,
      "mapper": {
        "table": "books",
        "select": "id,title,author_name",
        "filter": "id=eq.{{3.book_id}}"
      },
      "metadata": {
        "designer": { "x": 500, "y": 0 },
        "interface": [],
        "label": "Get Book Details"
      },
      "parameters": {
        "connection": "supabase-imam-lib"
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {
        "body": "{\"book_id\": \"{{9.data.0.id}}\", \"title\": \"{{9.data.0.title}}\", \"author\": \"{{9.data.0.author_name}}\"}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "interface": [],
        "label": "Claude Analysis"
      },
      "parameters": {
        "method": "POST",
        "url": "https://730d-2601-403-4280-2f0-25ca-9d6a-401-ac.ngrok-free.app/claude/hybrid-analysis",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "timeout": "180"
      }
    },
    {
      "id": 5,
      "module": "supabase:CreateRow",
      "version": 1,
      "mapper": {
        "table": "book_analysis_results_streamlined",
        "book_id": "{{9.data.0.id}}",
        "input_title": "{{9.data.0.title}}",
        "input_author": "{{9.data.0.author_name}}",
        "central_node": "{{4.data.central_node}}",
        "genre_classification": "{{4.data.genre_classification}}",
        "methodological_foundation": "{{4.data.methodological_foundation}}",
        "scholarly_perspective": "{{4.data.scholarly_perspective}}",
        "network_description": "{{4.data.network_description}}",
        "analysis_quality_score": "{{4.data.analysis_quality_score}}",
        "quality_gate_passed": "{{4.data.quality_gate_passed}}",
        "ready_for_stage2": "{{4.data.ready_for_stage2}}",
        "stage_status": "completed"
      },
      "metadata": {
        "designer": { "x": 800, "y": -100 },
        "interface": [],
        "label": "Store Analysis (Parallel)"
      },
      "parameters": {
        "connection": "supabase-imam-lib"
      }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {
        "body": "{\"book_id\": \"{{9.data.0.id}}\", \"analysis_data\": {{4.data}}, \"original_book\": {\"title\": \"{{9.data.0.title}}\", \"author_name\": \"{{9.data.0.author_name}}\"}}"
      },
      "metadata": {
        "designer": { "x": 800, "y": 100 },
        "interface": [],
        "label": "Enrichment Processing (Parallel)"
      },
      "parameters": {
        "method": "POST",
        "url": "https://730d-2601-403-4280-2f0-25ca-9d6a-401-ac.ngrok-free.app/claude/enrichment-execution",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "timeout": "180"
      }
    },
    {
      "id": 7,
      "module": "supabase:CreateRow",
      "version": 1,
      "mapper": {
        "table": "book_enrichment_results_streamlined",
        "book_id": "{{9.data.0.id}}",
        "input_book_title": "{{9.data.0.title}}",
        "input_author_name": "{{9.data.0.author_name}}",
        "input_analysis_data": "{{4.data}}",
        "final_title_alias": "{{6.data.final_title_alias}}",
        "final_keywords": "{{6.data.final_keywords}}",
        "final_description": "{{6.data.final_description}}",
        "transliteration_variations_count": "{{6.data.transliteration_variations_count}}",
        "core_concepts_count": "{{6.data.core_concepts_count}}",
        "contextual_associations_count": "{{6.data.contextual_associations_count}}",
        "description_word_count": "{{6.data.description_word_count}}",
        "academic_tone_maintained": "{{6.data.academic_tone_maintained}}",
        "enrichment_quality_score": "{{6.data.enrichment_quality_score}}",
        "sql_executed": "{{6.data.sql_executed}}",
        "execution_successful": "{{6.data.execution_successful}}",
        "methodology_compliance_gate_passed": "{{6.data.methodology_compliance_gate_passed}}",
        "execution_timestamp": "{{6.data.execution_timestamp}}",
        "rows_affected": "{{6.data.rows_affected}}",
        "execution_error": "{{6.data.execution_error}}",
        "books_updated_at": "{{6.data.books_updated_at}}",
        "overall_quality_gate_passed": "{{6.data.overall_quality_gate_passed}}",
        "stage_status": "completed"
      },
      "metadata": {
        "designer": { "x": 1000, "y": 100 },
        "interface": [],
        "label": "Store Enrichment"
      },
      "parameters": {
        "connection": "supabase-imam-lib"
      }
    },
    {
      "id": 8,
      "module": "supabase:UpdateRows",
      "version": 1,
      "mapper": {
        "table": "books",
        "filter": "id=eq.{{9.data.0.id}}",
        "title_alias": "{{6.data.final_title_alias}}",
        "keywords": "{{6.data.final_keywords}}",
        "description": "{{6.data.final_description}}",
        "updated_at": "{{now}}"
      },
      "metadata": {
        "designer": { "x": 1200, "y": 100 },
        "interface": [],
        "label": "Update Books Table"
      },
      "parameters": {
        "connection": "supabase-imam-lib"
      }
    },
    {
      "id": 10,
      "module": "supabase:UpdateRows",
      "version": 1,
      "mapper": {
        "table": "book_processing_queue",
        "filter": "book_id=eq.{{3.book_id}}",
        "status": "completed",
        "processed_at": "{{now}}"
      },
      "metadata": {
        "designer": { "x": 1400, "y": 100 },
        "interface": [],
        "label": "Mark Queue Complete"
      },
      "parameters": {
        "connection": "supabase-imam-lib"
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    }
  }
}