agent-reservoir-workflow/archive/make-com-integration/archive/20250706_114708_pre_cleanup/production_old/complete_3_stage_scenario.json
{
  "name": "Complete Islamic Text Processing Pipeline - 3 Stages",
  "description": "Stage 1: Supabase → Analysis → Storage | Stage 2: Enrichment Processing | Stage 3: Monitoring",
  "scheduling": {
    "type": "interval", 
    "interval": 5,
    "intervalType": "minutes"
  },
  "flow": [
    {
      "id": 1,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "interface": [],
        "label": "Stage 1: Fetch Books"
      },
      "parameters": {
        "method": "GET",
        "url": "https://aayvvcpxafzhcjqewwja.supabase.co/rest/v1/books",
        "headers": [
          {
            "name": "Authorization", 
            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFheXZ2Y3B4YWZ6aGNqcWV3d2phIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjQ2Nzc1NCwiZXhwIjoyMDYyMDQzNzU0fQ.PHNLmAb0-jzy0CGl3ThVdgXZkAGTBWLxC5O-RDgp_yQ"
          },
          {
            "name": "apikey",
            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFheXZ2Y3B4YWZ6aGNqcWV3d2phIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjQ2Nzc1NCwiZXhwIjoyMDYyMDQzNzU0fQ.PHNLmAb0-jzy0CGl3ThVdgXZkAGTBWLxC5O-RDgp_yQ"
          }
        ],
        "qs": [
          {
            "name": "select",
            "value": "id,title,author_name"
          },
          {
            "name": "limit",
            "value": "1"
          }
        ],
        "parseResponse": true,
        "bodyType": ""
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": {
        "condition": "{{length(1.data) > 0}}"
      },
      "metadata": {
        "designer": { "x": 200, "y": 0 },
        "label": "Check Books Exist"
      }
    },
    {
      "id": 3,
      "module": "builtin:ArrayIterator",
      "version": 1,
      "mapper": {
        "array": "{{1.data}}"
      },
      "metadata": {
        "designer": { "x": 400, "y": 0 },
        "label": "Iterator Books"
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {
        "body": "{\"book_id\": \"{{3.id}}\", \"title\": \"{{3.title}}\", \"author\": \"{{3.author_name}}\"}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "interface": [],
        "label": "Stage 1: Claude Analysis"
      },
      "parameters": {
        "method": "POST",
        "url": "https://730d-2601-403-4280-2f0-25ca-9d6a-401-ac.ngrok-free.app/claude/hybrid-analysis",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "timeout": "180"
      }
    },
    {
      "id": 5,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {
        "body": "{\"book_id\": \"{{3.id}}\", \"title\": \"{{3.title}}\", \"author\": \"{{3.author_name}}\", \"analysis_result\": {{4.data}}, \"processed_at\": \"{{now}}\", \"stage\": \"hybrid_analysis_completed\"}"
      },
      "metadata": {
        "designer": { "x": 800, "y": 0 },
        "interface": [],
        "label": "Store Stage 1 Results"
      },
      "parameters": {
        "method": "POST",
        "url": "https://aayvvcpxafzhcjqewwja.supabase.co/rest/v1/book_analysis_results",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFheXZ2Y3B4YWZ6aGNqcWV3d2phIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjQ2Nzc1NCwiZXhwIjoyMDYyMDQzNzU0fQ.PHNLmAb0-jzy0CGl3ThVdgXZkAGTBWLxC5O-RDgp_yQ"
          },
          {
            "name": "apikey", 
            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFheXZ2Y3B4YWZ6aGNqcWV3d2phIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjQ2Nzc1NCwiZXhwIjoyMDYyMDQzNzU0fQ.PHNLmAb0-jzy0CGl3ThVdgXZkAGTBWLxC5O-RDgp_yQ"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Prefer",
            "value": "return=representation"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true
      }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {
        "body": "{\"book_id\": \"{{3.id}}\", \"analysis_data\": {{4.data}}, \"original_book\": {\"title\": \"{{3.title}}\", \"author_name\": \"{{3.author_name}}\"}}"
      },
      "metadata": {
        "designer": { "x": 1000, "y": 0 },
        "interface": [],
        "label": "Stage 2: Enrichment Processing"
      },
      "parameters": {
        "method": "POST",
        "url": "https://730d-2601-403-4280-2f0-25ca-9d6a-401-ac.ngrok-free.app/claude/enrichment-execution",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "timeout": "180"
      }
    },
    {
      "id": 7,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {
        "body": "{\"book_id\": \"{{3.id}}\", \"analysis_result_id\": \"{{5.data[0].id}}\", \"enrichment_result\": {{6.data}}, \"processed_at\": \"{{now}}\", \"stage\": \"enrichment_completed\"}"
      },
      "metadata": {
        "designer": { "x": 1200, "y": 0 },
        "interface": [],
        "label": "Store Stage 2 Results"
      },
      "parameters": {
        "method": "POST",
        "url": "https://aayvvcpxafzhcjqewwja.supabase.co/rest/v1/book_enrichment_results",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFheXZ2Y3B4YWZ6aGNqcWV3d2phIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjQ2Nzc1NCwiZXhwIjoyMDYyMDQzNzU0fQ.PHNLmAb0-jzy0CGl3ThVdgXZkAGTBWLxC5O-RDgp_yQ"
          },
          {
            "name": "apikey",
            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFheXZ2Y3B4YWZ6aGNqcWV3d2phIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjQ2Nzc1NCwiZXhwIjoyMDYyMDQzNzU0fQ.PHNLmAb0-jzy0CGl3ThVdgXZkAGTBWLxC5O-RDgp_yQ"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Prefer",
            "value": "return=minimal"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    }
  }
}
EOF < /dev/null