agent-reservoir-workflow/archive/make-com-integration/archive/20250706_114708_pre_cleanup/production_old/scenarios/stage2-enrichment-execution-scenario.json
{
  "name": "Stage 2: Database Enrichment & Update Agent",
  "description": "Database Enrichment & Update Agent - Generates and executes SQL updates using ENRICHMENT_CRITERIA.md methodology with integrated academic description",
  "scheduling": {
    "type": "interval",
    "interval": 1,
    "intervalType": "minutes",
    "startDate": "{{addMinutes(now; 1)}}"
  },
  "flow": [
    {
      "id": 1,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "interface": []
      },
      "parameters": {
        "method": "GET",
        "url": "{{config.supabase.url}}/rest/v1/book_analysis_results",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer {{config.supabase.serviceKey}}"
          },
          {
            "name": "apikey",
            "value": "{{config.supabase.serviceKey}}"
          }
        ],
        "qs": [
          {
            "name": "select",
            "value": "*,books(id,title,author_name,description,title_alias,keywords)"
          },
          {
            "name": "stage_status",
            "value": "eq.completed"
          },
          {
            "name": "analysis_quality_score",
            "value": "gte.7"
          },
          {
            "name": "book_id",
            "value": "not.in.(select book_id from book_enrichment_results)"
          },
          {
            "name": "limit",
            "value": "3"
          }
        ],
        "parseResponse": true,
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "bodyType": "",
        "timeout": ""
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": {
        "condition": "{{length(1.data) > 0}}"
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      }
    },
    {
      "id": 3,
      "module": "builtin:ArrayIterator",
      "version": 1,
      "mapper": {
        "array": "{{1.data}}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 }
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {
        "body": "{\"book_id\": \"{{3.book_id}}\", \"analysis_data\": {\"central_node\": \"{{3.central_node}}\", \"genre_classification\": \"{{3.genre_classification}}\", \"methodological_foundation\": \"{{3.methodological_foundation}}\", \"scholarly_perspective\": \"{{3.scholarly_perspective}}\", \"core_argumentative_thesis\": \"{{3.core_argumentative_thesis}}\", \"verified_title\": \"{{3.verified_title}}\", \"verified_author\": \"{{3.verified_author}}\", \"subject_category\": \"{{3.subject_category}}\", \"core_themes\": {{3.core_themes}}, \"key_concepts\": {{3.key_concepts}}, \"theological_school\": \"{{3.theological_school}}\", \"theological_positions\": {{3.theological_positions}}, \"target_audience\": \"{{3.target_audience}}\", \"complexity_level\": \"{{3.complexity_level}}\", \"historical_period\": \"{{3.historical_period}}\", \"authors_core_project\": \"{{3.authors_core_project}}\"}, \"original_book\": {\"title\": \"{{3.books.title}}\", \"author_name\": \"{{3.books.author_name}}\"}, \"stage\": \"enrichment_execution\", \"agent_role\": \"Search Optimization & Database Enrichment Expert specializing in Islamic text metadata generation\", \"task\": \"Generate comprehensive database enrichment using ENRICHMENT_CRITERIA.md methodology. CRITICAL METHODOLOGY COMPLIANCE: 1) MANDATORY: Read ENRICHMENT_CRITERIA.md methodology first. 2) TITLE_ALIAS generation: transliteration_variations (common Arabic-English schemes), definite_article_variants (Al-/el-/omitted), special_character_simplifications (underscore removal), phonetic_variations (qaf/tha/dhad alternatives), word_combination_variants, partial_memorable_titles, conceptual_descriptive_titles. 3) KEYWORDS generation: core_concept_keywords, associated_figures_keywords, associated_places_keywords, associated_events_keywords, broader_subject_keywords, theological_school_keywords, historical_period_keywords, synonyms_related_keywords, author_name_variations. 4) DESCRIPTION 5-step structure: step1_identity_sentence, step2_thesis_statement, step3_pillars_explanation, step4_evidence_grounding, step5_concluding_thought (100-150 words, academic encyclopedic tone, arabic terms italicized). 5) SQL generation and validation: sql_syntax_validated=true, sql_escaping_correct=true, sql_schema_compliance_verified=true, then execution with success tracking. Quality gates: enrichment_quality_score >= 8, methodology_compliance_gate_passed=true, overall_quality_gate_passed=true.\"}"
      },
      "metadata": {
        "designer": { "x": 900, "y": 0 },
        "interface": []
      },
      "parameters": {
        "method": "POST",
        "url": "{{config.claudeDesktop.publicUrl}}/claude/enrichment-execution",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "timeout": "60"
      }
    },
    {
      "id": 5,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {
        "body": "{\"book_id\": \"{{3.book_id}}\", \"analysis_result_id\": \"{{3.id}}\", \"input_analysis_data\": {{3}}, \"input_central_node\": \"{{3.central_node}}\", \"input_primary_concepts\": {{3.primary_concepts_for_enrichment}}, \"input_key_evidence\": {{3.key_evidence_for_enrichment}}, \"input_authors_project\": \"{{3.authors_core_project}}\", \"input_academic_description\": \"{{3.academic_description}}\", \"enrichment_agent_full_response\": {{4.data.enrichment_agent_full_response}}, \"description_agent_full_response\": {{4.data.description_agent_full_response}}, \"combined_agent_responses\": {{4.data.combined_agent_responses}}, \"final_title_alias\": \"{{4.data.final_title_alias}}\", \"final_keywords\": {{4.data.final_keywords}}, \"final_description\": \"{{4.data.final_description}}\", \"transliteration_variations\": {{4.data.transliteration_variations}}, \"transliteration_variations_count\": {{4.data.transliteration_variations_count}}, \"definite_article_variants\": {{4.data.definite_article_variants}}, \"definite_article_al_forms\": {{4.data.definite_article_al_forms}}, \"definite_article_el_forms\": {{4.data.definite_article_el_forms}}, \"definite_article_omitted_forms\": {{4.data.definite_article_omitted_forms}}, \"definite_article_space_variants\": {{4.data.definite_article_space_variants}}, \"special_character_simplifications\": {{4.data.special_character_simplifications}}, \"underscore_a_replacements\": {{4.data.underscore_a_replacements}}, \"underscore_replacements\": {{4.data.underscore_replacements}}, \"special_char_removed_forms\": {{4.data.special_char_removed_forms}}, \"common_phonetic_replacements\": {{4.data.common_phonetic_replacements}}, \"vowel_consonant_variations\": {{4.data.vowel_consonant_variations}}, \"qaf_variations\": {{4.data.qaf_variations}}, \"tha_variations\": {{4.data.tha_variations}}, \"dhad_variations\": {{4.data.dhad_variations}}, \"phonetic_ambiguity_count\": {{4.data.phonetic_ambiguity_count}}, \"word_combination_variants\": {{4.data.word_combination_variants}}, \"combined_forms\": {{4.data.combined_forms}}, \"hyphenated_forms\": {{4.data.hyphenated_forms}}, \"spaced_forms\": {{4.data.spaced_forms}}, \"word_combination_count\": {{4.data.word_combination_count}}, \"partial_memorable_titles\": {{4.data.partial_memorable_titles}}, \"most_distinctive_part\": \"{{4.data.most_distinctive_part}}\", \"shortened_memorable_versions\": {{4.data.shortened_memorable_versions}}, \"simplified_title_forms\": {{4.data.simplified_title_forms}}, \"conceptual_descriptive_titles\": {{4.data.conceptual_descriptive_titles}}, \"english_conceptual_titles\": {{4.data.english_conceptual_titles}}, \"topic_based_titles\": {{4.data.topic_based_titles}}, \"descriptive_aliases\": {{4.data.descriptive_aliases}}, \"core_concept_keywords\": {{4.data.core_concept_keywords}}, \"title_derived_concepts\": {{4.data.title_derived_concepts}}, \"core_concepts_count\": {{4.data.core_concepts_count}}, \"associated_figures_keywords\": {{4.data.associated_figures_keywords}}, \"associated_places_keywords\": {{4.data.associated_places_keywords}}, \"associated_events_keywords\": {{4.data.associated_events_keywords}}, \"contextual_associations_count\": {{4.data.contextual_associations_count}}, \"broader_subject_keywords\": {{4.data.broader_subject_keywords}}, \"academic_fields\": {{4.data.academic_fields}}, \"theological_fields\": {{4.data.theological_fields}}, \"jurisprudence_fields\": {{4.data.jurisprudence_fields}}, \"historical_fields\": {{4.data.historical_fields}}, \"synonyms_related_keywords\": {{4.data.synonyms_related_keywords}}, \"english_synonyms\": {{4.data.english_synonyms}}, \"arabic_terms_simple_transliteration\": {{4.data.arabic_terms_simple_transliteration}}, \"concept_synonyms\": {{4.data.concept_synonyms}}, \"author_name_variations\": {{4.data.author_name_variations}}, \"theological_school_keywords\": {{4.data.theological_school_keywords}}, \"historical_period_keywords\": {{4.data.historical_period_keywords}}, \"manuscript_tradition_keywords\": {{4.data.manuscript_tradition_keywords}}, \"description_5_step_breakdown\": {{4.data.description_5_step_breakdown}}, \"step1_identity_sentence\": \"{{4.data.step1_identity_sentence}}\", \"step2_thesis_statement\": \"{{4.data.step2_thesis_statement}}\", \"step3_pillars_explanation\": \"{{4.data.step3_pillars_explanation}}\", \"step4_evidence_grounding\": \"{{4.data.step4_evidence_grounding}}\", \"step5_concluding_thought\": \"{{4.data.step5_concluding_thought}}\", \"description_methodology\": \"{{4.data.description_methodology}}\", \"description_word_count\": {{4.data.description_word_count}}, \"description_quality_score\": {{4.data.description_quality_score}}, \"academic_encyclopedic_tone_maintained\": {{4.data.academic_encyclopedic_tone_maintained}}, \"single_paragraph_flow_achieved\": {{4.data.single_paragraph_flow_achieved}}, \"logical_flow_maintained\": {{4.data.logical_flow_maintained}}, \"arabic_terms_italicized\": {{4.data.arabic_terms_italicized}}, \"arabic_terms_formatting_correct\": {{4.data.arabic_terms_formatting_correct}}, \"key_islamic_terms_included\": {{4.data.key_islamic_terms_included}}, \"generated_sql_statement\": \"{{4.data.generated_sql_statement}}\", \"sql_methodology\": \"{{4.data.sql_methodology}}\", \"sql_syntax_validated\": {{4.data.sql_syntax_validated}}, \"sql_escaping_correct\": {{4.data.sql_escaping_correct}}, \"sql_title_alias_format_correct\": {{4.data.sql_title_alias_format_correct}}, \"sql_keywords_array_format_correct\": {{4.data.sql_keywords_array_format_correct}}, \"sql_schema_compliance_verified\": {{4.data.sql_schema_compliance_verified}}, \"sql_preview_generated\": {{4.data.sql_preview_generated}}, \"sql_executed\": {{4.data.sql_executed}}, \"execution_successful\": {{4.data.execution_successful}}, \"execution_timestamp\": \"{{4.data.execution_timestamp}}\", \"execution_duration_ms\": {{4.data.execution_duration_ms}}, \"rows_affected\": {{4.data.rows_affected}}, \"execution_error\": \"{{4.data.execution_error}}\", \"rollback_performed\": {{4.data.rollback_performed}}, \"execution_retry_count\": {{4.data.execution_retry_count}}, \"books_title_alias_before\": \"{{4.data.books_title_alias_before}}\", \"books_title_alias_after\": \"{{4.data.books_title_alias_after}}\", \"books_keywords_before\": {{4.data.books_keywords_before}}, \"books_keywords_after\": {{4.data.books_keywords_after}}, \"books_description_before\": \"{{4.data.books_description_before}}\", \"books_description_after\": \"{{4.data.books_description_after}}\", \"books_updated_at\": \"{{4.data.books_updated_at}}\", \"enrichment_criteria_methodology_score\": {{4.data.enrichment_criteria_methodology_score}}, \"title_alias_criteria_compliance\": {{4.data.title_alias_criteria_compliance}}, \"keywords_criteria_compliance\": {{4.data.keywords_criteria_compliance}}, \"transliteration_variations_adequate\": {{4.data.transliteration_variations_adequate}}, \"phonetic_variations_comprehensive\": {{4.data.phonetic_variations_comprehensive}}, \"contextual_associations_complete\": {{4.data.contextual_associations_complete}}, \"enrichment_quality_score\": {{4.data.enrichment_quality_score}}, \"criteria_compliance_score\": {{4.data.criteria_compliance_score}}, \"title_alias_count\": {{4.data.title_alias_count}}, \"keywords_count\": {{4.data.keywords_count}}, \"keyword_category_coverage\": {{4.data.keyword_category_coverage}}, \"sql_file_path\": \"{{4.data.sql_file_path}}\", \"sql_file_generated\": {{4.data.sql_file_generated}}, \"batch_sql_added\": {{4.data.batch_sql_added}}, \"sql_file_size_bytes\": {{4.data.sql_file_size_bytes}}, \"enrichment_quality_gate_passed\": {{4.data.enrichment_quality_gate_passed}}, \"sql_validation_gate_passed\": {{4.data.sql_validation_gate_passed}}, \"execution_gate_passed\": {{4.data.execution_gate_passed}}, \"methodology_compliance_gate_passed\": {{4.data.methodology_compliance_gate_passed}}, \"overall_quality_gate_passed\": {{4.data.overall_quality_gate_passed}}, \"ready_for_pipeline_completion\": {{4.data.ready_for_pipeline_completion}}, \"stage_status\": \"{{if(and(and(and(4.data.enrichment_quality_score >= 8; 4.data.methodology_compliance_gate_passed); 4.data.overall_quality_gate_passed); 4.data.execution_successful); \"completed\"; \"manual_review\")}}\", \"processing_time_minutes\": {{4.data.processing_time_minutes}}, \"error_message\": \"{{4.data.error_message}}\", \"retry_count\": {{4.data.retry_count}}, \"processing_warnings\": {{4.data.processing_warnings}}, \"processed_by\": \"enrichment_execution_agent\", \"claude_agent_version\": \"{{4.data.claude_agent_version}}\", \"enrichment_criteria_version\": \"{{4.data.enrichment_criteria_version}}\", \"workflow_version\": \"{{4.data.workflow_version}}\", \"processing_node\": \"{{4.data.processing_node}}\"}"
      },
      "metadata": {
        "designer": { "x": 1200, "y": 0 },
        "interface": []
      },
      "parameters": {
        "method": "POST",
        "url": "{{config.supabase.url}}/rest/v1/book_enrichment_results",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer {{config.supabase.serviceKey}}"
          },
          {
            "name": "apikey",
            "value": "{{config.supabase.serviceKey}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Prefer",
            "value": "return=minimal"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "timeout": ""
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    }
  }
}