islamic-text-workflow/agent-reservoir-workflow/archive/make-com-integration/archive/20250706_114708_pre_cleanup/scenarios_root_old/stage3-monitoring-scenario.json
{
  "name": "Stage 3: Pipeline Monitoring & Status Agent",
  "description": "Pipeline Monitoring Agent - Tracks workflow progress, handles errors, and provides status reporting",
  "scheduling": {
    "type": "interval",
    "interval": 10,
    "intervalType": "minutes",
    "startDate": "{{addMinutes(now; 10)}}"
  },
  "flow": [
    {
      "id": 1,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "interface": []
      },
      "parameters": {
        "method": "GET",
        "url": "{{config.supabase.url}}/rest/v1/books",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer {{config.supabase.serviceKey}}"
          },
          {
            "name": "apikey",
            "value": "{{config.supabase.serviceKey}}"
          }
        ],
        "qs": [
          {
            "name": "select",
            "value": "id,title,author,title_alias,keywords,description"
          },
          {
            "name": "order",
            "value": "updated_at.desc"
          },
          {
            "name": "limit",
            "value": "20"
          }
        ],
        "parseResponse": true,
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "bodyType": "",
        "timeout": ""
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {},
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "interface": []
      },
      "parameters": {
        "method": "GET",
        "url": "{{config.supabase.url}}/rest/v1/book_analysis_results",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer {{config.supabase.serviceKey}}"
          },
          {
            "name": "apikey",
            "value": "{{config.supabase.serviceKey}}"
          }
        ],
        "qs": [
          {
            "name": "select",
            "value": "book_id,stage_status,analysis_quality_score,created_at"
          },
          {
            "name": "order",
            "value": "created_at.desc"
          },
          {
            "name": "limit",
            "value": "50"
          }
        ],
        "parseResponse": true,
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "bodyType": "",
        "timeout": ""
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {},
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "interface": []
      },
      "parameters": {
        "method": "GET",
        "url": "{{config.supabase.url}}/rest/v1/book_enrichment_results",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer {{config.supabase.serviceKey}}"
          },
          {
            "name": "apikey",
            "value": "{{config.supabase.serviceKey}}"
          }
        ],
        "qs": [
          {
            "name": "select",
            "value": "book_id,stage_status,enrichment_quality_score,execution_successful,created_at"
          },
          {
            "name": "order",
            "value": "created_at.desc"
          },
          {
            "name": "limit",
            "value": "50"
          }
        ],
        "parseResponse": true,
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "bodyType": "",
        "timeout": ""
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {
        "body": "{\"pipeline_status\": {\"total_books\": {{length(1.data)}}, \"books_with_analysis\": {{length(2.data)}}, \"books_with_enrichment\": {{length(3.data)}}, \"completed_analysis\": {{length(filter(2.data; \".stage_status = 'completed'\"))}}, \"completed_enrichment\": {{length(filter(3.data; \".stage_status = 'completed'\"))}}, \"successful_executions\": {{length(filter(3.data; \".execution_successful = true\"))}}, \"average_analysis_score\": {{round(average(map(filter(2.data; \".analysis_quality_score != null\"); \".analysis_quality_score\")); 2)}}, \"average_enrichment_score\": {{round(average(map(filter(3.data; \".enrichment_quality_score != null\"); \".enrichment_quality_score\")); 2)}}, \"timestamp\": \"{{now}}\"}, \"stage\": \"monitoring\", \"agent_role\": \"Pipeline Monitor & Status Reporter\", \"task\": \"Monitor 3-stage Islamic Text Processing Workflow. Track: 1) Stage 1 (Hybrid Academic Analysis) completion rates and quality scores, 2) Stage 2 (Database Enrichment & Update) success rates and SQL execution, 3) Overall pipeline health and bottlenecks, 4) Error analysis and manual review requirements, 5) Performance metrics and processing times. Generate status report and identify optimization opportunities.\"}"
      },
      "metadata": {
        "designer": { "x": 900, "y": 0 },
        "interface": []
      },
      "parameters": {
        "method": "POST",
        "url": "{{config.claudeDesktop.publicUrl}}/claude/monitoring",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "timeout": "300"
      }
    },
    {
      "id": 5,
      "module": "http:ActionSendData",
      "version": 3,
      "mapper": {
        "body": "{\"monitoring_timestamp\": \"{{now}}\", \"pipeline_health\": \"{{4.data.pipeline_health}}\", \"total_books_tracked\": {{length(1.data)}}, \"stage1_completed\": {{length(filter(2.data; \".stage_status = 'completed'\"))}}, \"stage2_completed\": {{length(filter(3.data; \".stage_status = 'completed'\"))}}, \"successful_executions\": {{length(filter(3.data; \".execution_successful = true\"))}}, \"average_quality_scores\": {\"analysis\": {{round(average(map(filter(2.data; \".analysis_quality_score != null\"); \".analysis_quality_score\")); 2)}}, \"enrichment\": {{round(average(map(filter(3.data; \".enrichment_quality_score != null\"); \".enrichment_quality_score\")); 2)}}}, \"recommendations\": {{4.data.recommendations}}, \"bottlenecks_identified\": {{4.data.bottlenecks_identified}}, \"processing_rate\": \"{{4.data.processing_rate}}\", \"error_analysis\": {{4.data.error_analysis}}, \"status_report\": \"{{4.data.status_report}}\", \"processed_by\": \"monitoring_agent\"}"
      },
      "metadata": {
        "designer": { "x": 1200, "y": 0 },
        "interface": []
      },
      "parameters": {
        "method": "POST",
        "url": "{{config.supabase.url}}/rest/v1/pipeline_monitoring_logs",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer {{config.supabase.serviceKey}}"
          },
          {
            "name": "apikey",
            "value": "{{config.supabase.serviceKey}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Prefer",
            "value": "return=minimal"
          }
        ],
        "bodyType": "raw",
        "parseResponse": true,
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "timeout": ""
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    }
  }
}